clearsnippets

global !p

# Utility functions
from util import *

# Constants
environments = ['document',
'figure', 'table',
'description', 'enumerate', 'itemize', 'list',
'math', 'displaymath', 'array', 'eqnarray', 'equation', 'subequations', 'multiline', 'gather', 'align', 'flalign',
'theorem',
'matrix', 'pmatrix', 'bmatrix', 'Bmatrix', 'vmatrix', 'Vmatrix', 'smallmatrix',
'cases',
'alignat',
'center', 'flushleft', 'flushright', 'minipage', 'quotation', 'quote', 'verbatim', 'verse',
'picture',
'tabbing', 'tabular',
'thebibiliography',
'titlepage']

endglobal

snippet begin "begin/end" bA
\begin{${3:$1`!p snip.rv = complete(t[1], environments)`$2}}
	${VISUAL}$0
\end{$3}
endsnippet
